.watchlist {
  position: relative;
}

.watchlist>div {
  text-align: center;
}

.watchlist .watchlist-text-hold {
  width: 100%;
  background-color: var(--BACKGROUND_PRIMARY);
  padding: 40px 20px;
}

.watchlist h1 {
  color: #FFFFFF;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}


.watchlist button {
  color: var(--BACKGROUND_PRIMARY);
  background-color: #FFFFFF;
}

@media screen and (min-width: 940px) {
  .watchlist .watchlist-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 240px;
  }
  
  .watchlist .watchlist-text-hold {
    position: absolute;
    padding: 50px;
    width: 65%;
    margin: auto;
    border-radius: 24px;
    top: 20%;
  }

  .watchlist-partb{
    background-color: var(--BACKGROUND_GREY);
    height: 240px;
  }
  

  .watchlist h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 50px;
  }
}