:root {
  --PRIMARY_COLOR: #0a8643;
  --PRIMARY_COLOR_2: #0b5351;
  --MAIN_GREEN: #00B964;

  --PRIMARY_LIGHT_COLOR: #e7f0ee;
  --PRIMARY_LIGHT_COLOR2: #c1d8ca;

  --SECONDARY_COLOR: #e61e26;
  --SECONDARY_COLOR_2: #f36b22;

  --TERTIARY_COLOR: #3866b0;

  --PRIMARY_DARK_COLOR: #062b29;

  --BACKGROUND_PRIMARY: #3b8249;
  --BACKGROUND_GREY: #f9f9f9;
  --BACKGROUND_GREY2: #e6e6e6;
  --BACKGROUND_WHITE: #ffffff;

  --DARK: #262626;
  --BASE: #4c4c4c;
}
