.cta {
  /* min-height: 30px; */
  background: var(--PRIMARY_LIGHT_COLOR);
  background-image: url('./../../assets/svg/worldmap.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px 10px 0 10px;
}

.cta h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--PRIMARY_DARK_COLOR);
  line-height: 48px;
}

.cta p {
  font-size: 14px;
  color: var(--PRIMARY_DARK_COLOR);
  margin: 16px auto 32px auto;
  line-height: 28px;
  max-width: 327px;
}
.content {
  /* width: 600px; */
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  /* margin-top: -180px; */
}

.content-header span {
  color: var(--PRIMARY_COLOR);
}

.painting {
  margin:auto;
  width: fit-content;
  padding-top: 24px;
}

.painting img {
  max-width: 90vw;
}

@media screen and (min-width: 600px) {
  .cta {
    min-height: 70vh;
  }
  .cta h2 {
    font-size: 74px;
    line-height: 72px;
  }
  .cta p {
    font-size: 20px;
    max-width: 553px;
  }
}

@media screen and (min-width: 940px) {
  .cta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }
  .content {
    align-self: flex-start;
    padding-top: 130px;
  }
  .painting {
    display: block;
    padding-top: 0;
  }

  .painting img {
    width: 80%;
  }
}