.details {
  margin-bottom: 112px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.detailsContainer {
  display: inline-grid;
  padding: 60px 0 20px 0;
}

.detailsContainer > * {
  flex: 1;
  max-width: 607px;
}
.detailsHeading {
  color: var(--PRIMARY_DARK_COLOR);
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 20px;
}
.detailsPara {
  color: var(--PRIMARY_DARK_COLOR);

  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  /* max-width: 607px; */
}

.detailsPara p {
  margin-bottom: 24px;
}

.ceo {
  color: #000;
  display: flex;
  align-items: center;
  order: 2;
  margin-top: 20px;
}
.ceoName {
  color: #000;
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
}
.inspiration {
  color: var(--BACKGROUND_PRIMARY);
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
}

.imagePlaceholder {
  width: 100px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 21px;
}

@media screen and (min-width: 900px) {
  .details {
    margin-bottom: 152px;
    max-width: 1600px;
  }

  .detailsContainer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 100px 0 110px 0;
    max-width: 1800px;

  }

  .detailsHeading {
    font-size: 68px;
    line-height: 72px;
  }

  .detailsPara {
    font-size: 27px;
    font-weight: 500;
    line-height: 38px;
    /* max-width: 607px; */
  }

  .ceo {
    order: 1;
    margin-top: 0;
  }
  .ceoName {
    font-size: 30px;
    line-height: 42px;
  }

  .inspiration {
    order: 2;
    font-size: 27px;
  }
}
