.faq {
  padding: 60px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.faq-container {
  width: 90%;
}

.faq-header {
  color: #101828;
  font-size: 24px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.48px;
  text-align: center;
  text-transform: capitalize;
}

.faq-header-big {
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  margin-bottom: 40px;
  text-align: center;
}
.faq-collapsible-icon-close {
  width: 20px;
  height: 20px;
  background-color: var(--BACKGROUND_PRIMARY);
}
.faq-collapsible-container {
  padding: 24px 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--BACKGROUND_GREY2);
}

.faq-collapsible-header {
  color: #101828;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  max-width: 90%;
  text-align: left;
}
.faq-collapsible-body {
  color: #202020;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  max-width: 90%;
}

.faq-more-questions {
  color: var(--BASE);
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  margin: 30px 0;
  width: 90%;
}

@media screen and (min-width: 600px) {
  .faq-header {
    font-size: 40px;
    line-height: 44px; /* 110% */
    letter-spacing: -0.8px;
  }
  .faq-header-big {
    font-size: 16px;
  }
  .faq-more-questions {
    font-size: 58px;
    font-weight: 700;
    line-height: 78.5px;
    margin: 30px 0;
    width: 90%;
  }
  .faq-collapsible-header {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }
  .faq-collapsible-body {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (min-width: 920px) {
  .faq-container {
    max-width: 70%;
  }

  /* .faq-header-big {
              font-size: 42px;
       } */

  /* .faq-more-questions {
              font-size: 58px;
              font-weight: 700;
              line-height: 78.5px;
              margin: 30px 0;
              width: 90%;
       } */
}
