.community {
  padding: 40px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  background-color: #006637;
}

@media screen and (min-width: 600px) {
  .community {
    padding: 48px 0px 0px 30px;
  }
}

@media screen and (min-width: 940px) {
  .community {
    display: flex;
    align-items: start;
    justify-content: space-around;
  }
}
