.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0 0;
  text-align: center;
  /* background-color: var(--BACKGROUND_GREY); */
}

.slogan p {
  color: var(--SECONDARY_COLOR);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.56px;
  margin-bottom: 10px;
}

.slogan h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 20px;
  color: var(--BASE);
}

.slogan-btn {
  display: flex;
  justify-content: flex-end;
 width: 90%;
}

.steps {
  background-color: var(--BACKGROUND_PRIMARY);
  padding: 20px 10px;
  margin-bottom: 20px;
}

.steps h3 {
  color: #FFFFFF;
font-size: 20px;
font-weight: 700;
line-height: 32px;
  margin: 10px 0 10px;
}

.steps p {
  color: #FFFFFF;
  padding: 0 20px;
  font-size: 14px;
line-height: 24px;
  width: 100%;
  font-weight: normal;
}

.step-stage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0 0;
}

.dashed {
  border-top: 2px dashed #FFFFFF;
  width: 100%;
}

.step-stage h1 {
  background-color: #FFFFFF;
  color: var(--BACKGROUND_PRIMARY);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 88px;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.step-stage > div {
  display: flex;
  align-items: center;
}

.step:nth-child(2) .step-stage > div:nth-child(2) {
  border: 2px dashed #FFFFFF;
  border-top: none;
  border-radius: 50%;
  border-right: none;
  border-left: none;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.step-stage > div:nth-child(2) {
  border: 2px dashed #FFFFFF;
  border-bottom: none;
  border-radius: 50%;
  border-right: none;
  border-left: none;
  padding: 20px;
  display: flex;
  justify-content: center;
}


@media screen and (min-width: 600px) {
  .slogan {
    padding: 51px 0 60px 0;
  }
  .slogan h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
  .slogan p {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  letter-spacing: 0.8px;
  }
  /* .slogan-btn {
   width: 1148px;
  } */
}

@media screen and (min-width: 940px) {
  .slogan-btn {
    max-width: 80%;
   }
}

@media screen and (min-width: 1200px) {
  .slogan-btn {
    max-width: 1148px;
   }
}


@media screen and (min-width: 940px) {
  .steps {
    display: flex;
    padding: 50px 20px;
    margin: 50px 0;
    border-radius: 20px;;
    width: 80%;
    /* height: 534px; */
  }

  .steps h3{
    font-size: 24px;
font-weight: 700;
line-height: 32px;
  }
  .steps p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .steps {
    max-width: 1148px;
  }

}