@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../app/common/styles/variable.css";
@import "../../public/coolicons.css";
@import "./common/styles/variable.css";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--BASE);
}

html,
body {
  height: 100%;
}

.w-100 {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}

.cursor {
  cursor: pointer;
}

.icon path {
  fill: white;
}

.spinner path {
  fill: #068645;
}

.flatpickr-wrapper {
  display: block !important;
}

.slick-prev::before,
.slick-next::before {
  color: #068645 !important;
}

.hide-slide {
  display: none !important;
}

.slick-disabled {
  display: none !important;
}

.slick-prev {
  left: 12px !important;
  z-index: 1 !important;
  height: 18px !important;
  width: 18px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent,
    0 2px 4px rgba(0, 0, 0, 0.18) !important;
  padding: 5px !important;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.slick-prev:hover {
  opacity: 1;
}

.slick-next {
  top: 47% !important;
  right: 12px !important;
  z-index: 1 !important;
  height: 18px !important;
  width: 18px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 5px !important;
  box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent,
    0 2px 4px rgba(0, 0, 0, 0.18) !important;
  border-radius: 50%;
  transform: rotate(180deg) !important;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.slick-next:hover {
  opacity: 1;
}

.slick-dots {
  bottom: 8px !important;
}

.slick-dots li {
  width: 5px !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
  color: #00b964 !important;
}

.slick-dots li.slick-active button:before {
  color: #00b964 !important;
  opacity: 1;
}
