@tailwind base;
@tailwind components;
@tailwind utilities;
@import './shared-styles/variable.css';
@import '../../public/coolicons.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--BASE);
}

html, body {
  height: 100%;
}

.w-100{
  width: 100%;
}

@media screen and (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}

.cursor {
  cursor: pointer;
}

.icon path {
  fill: white;
}

.spinner path {
  fill: #068645
}