@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.w-100{
  width: 100%;
}

@media screen and (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}
