nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 10px;
  background-color: var(--PRIMARY_LIGHT_COLOR);
}

nav ul {
  display: none;

}

nav ul li {
  margin-right: 24px;
  font-weight: bold;
  color: black;
  font-size: 16px;
  /* font-family: 'Public Sans'; */
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul a.active {
  color: var(--PRIMARY_COLOR);
}

@media screen and (min-width: 600px) {
  nav {
    padding: 36px 40px;
  }
  nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 16px;
  }

  nav ul li {
    font-size: 20px;
  }
  
}