footer {
  padding: 40px 20px;
}

.links {
  margin-bottom: 20px;
}

footer li {
  list-style-type: none;
}

footer p {
  color: var(--PRIMARY_DARK_COLOR);
  margin-top: 15px;
}

.links h3 {
  color: var(--PRIMARY_DARK_COLOR);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.links a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  color: var(--PRIMARY_DARK_COLOR);
  font-weight: 300;
}

.description {
  margin-top: 30px;
}

.copyright {
  font-size: 14px;
  color: var(--PRIMARY_DARK_COLOR);
  font-weight: 300;
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  .links h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
}

@media screen and (min-width: 940px) {
  footer {
    padding: 110px 100px 80px 100px;
    display: flex;
  }

  .description {
    order: 0;
    margin-right: 13%;

    /* flex: 1; */
  }

  .links-hold {
    order: 1;
    flex: 1;
    display: flex;
    justify-content: space-around;
  }

  .links {
    margin-right: 13%;
  }

  .links:last-child {
    margin-left: auto;
    margin-right: 0;
  }
}
