:root {
  --PRIMARY_COLOR: #0A8643;
  --PRIMARY_COLOR_2: #0B5351;

  --PRIMARY_LIGHT_COLOR: #E7F0EE;
  --PRIMARY_LIGHT_COLOR2: #C1D8CA;

  --SECONDARY_COLOR: #E61E26;
  --SECONDARY_COLOR_2: #F36B22;

  --TERTIARY_COLOR: #3866B0;

  --PRIMARY_DARK_COLOR: #062B29;

  --BACKGROUND_PRIMARY: #3B8249;
  --BACKGROUND_GREY: #F9F9F9;
  --BACKGROUND_GREY2:   #E6E6E6;

  --DARK: #262626;
  --BASE: #4C4C4C;
}
