.sectors {
  background-color: var(--PRIMARY_LIGHT_COLOR);
  padding-top: 100px;
  overflow: hidden;
}

.sectors ul {
  display: flex;
  justify-content: space-between;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  overflow-x: hidden;
  gap: 5px;
  flex-wrap: wrap;
}

/* .sectors ul::after {
  content: '';
  flex: 0 0 20px; 
} */

.sectors li {
  height: 80px;
  width: 80px;
  max-height: 80px;
  max-width: 80px;
  /* min-width: 70px;
  min-height: 70px; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; */
  font-weight: 700;
  font-size: 12px;
  flex: 1 1 auto;
  max-width: 100%;
  margin: 0 1rem;
}


/* .sectors li:last-child {
  margin-right: 8rem;
} */

.marquee-container {
  height: 98px;
  overflow: hidden;
  position: relative;
  line-height: 30px;
}

.marquee-container:last-child {
  margin-bottom: 57px;
}

.marquee-container .marquee {
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
}

.marquee-container .marquee2 {
  animation-delay: 6s;
}

.marquee-container .marquee-sector2 {
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 11.6s linear infinite;
}

.marquee-container .marquee2-sector2 {
  animation-delay: 5.8s;
}

@keyframes marquee {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@media screen and (min-width: 600px) {
  .sectors ul {
    gap: 2rem;
  }

  .marquee-container {
    height: 120px;
  }

  .marquee-container:last-child {
    margin-bottom: 77px;
  }
}

@media screen and (min-width : 940px) {
  .sectors li {
    height: 100px;
    width: 100px;
    min-width: 90px;
    min-height: 90px;
    font-size: 16px;
    margin: 0 2rem;
    max-width: 100px;
    max-height: 100px;

  }
}

