@tailwind components;

@layer components {
  .login-btn {
    @apply text-white rounded-full transition-all py-3 px-5;
    background-color: var(--PRIMARY_COLOR);
  }

  .login-btn:hover {
    background-color: var(--PRIMARY_COLOR_2);
  }
}

.nav-bg {
    background-color: var(--BACKGROUND_GREY);
}